.input {
    box-sizing: border-box;
    border: 2px solid rgb(53, 221, 151);
    border-radius: 50px;
    height: 40px;
    width: 250px;
    padding: 5px 10px;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 0.25rem;
}